@import url("https://font.elice.io/css?family=Elice+DX+Neolli");

@font-face {
    font-family: 'HakgyoansimWoojuR';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2307-2@1.0/HakgyoansimWoojuR.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
.homedivmain{
   margin: 0 auto;
   margin-top: -1vh;
   text-align: center;
}

.homeimg{
    width: 50vw;
    opacity: 59%;
    border-radius: 20px;
    
    
}
.ment{
    font-size: 24px;
    font-family: 'HakgyoansimWoojuR';
}
.homeimgdiv{
    margin-top: 3vh;
    margin: 0 auto;
    text-align: center;
    justify-content: center;
  
}


.startbtn {
    background-color: rgb(46, 46, 46,0.8);
    border-radius: 30px;
    font-size: 24px;
    padding: 20px;
    width: 24vw;
    color: white;
    border: 3px solid rgb(77, 77, 77);
    
    margin-top: 2vh;
}

.startbtn:hover{
    background-color: brown;
}

.startdiv{
    display: flex;
    flex-direction: column;
    margin-left: 38vw;
}

.nickname{
    width: 12vw;
    margin-top: 2vh;
    height: 5vh;
    border-radius: 10px;
    font-size: 18px;
    text-align: center;
    margin-left: 5.9vw;

}