@import url("https://font.elice.io/css?family=Elice+DX+Neolli");

@font-face {
    font-family: 'HakgyoansimWoojuR';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2307-2@1.0/HakgyoansimWoojuR.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
  }
  @font-face {
    font-family: 'TTWanjudaedunsancheB';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-2@1.0/TTWanjudaedunsancheB.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
  }

.homedivmain{
   margin: 0 auto;
   margin-top: -1vh;
   text-align: center;
}

.homeimg{
    width: 50vw;
    opacity: 59%;
    border-radius: 20px;   
}

.ment{
    font-size: 30px;
    font-family: 'TTWanjudaedunsancheB';
    margin-top: 5vh;
}
.ment2{
    font-size: 20px;
    margin-top: -5vh;
    font-family: 'HakgyoansimWoojuR';
}
.homeimgdiv{
    margin-top: -2vh;
    
    text-align: center;
    justify-content: center;
  
}

.startbtn {
    background-color: rgb(0, 0, 0,0.7);
    border-radius: 30px;
    font-size: 24px;
    padding: 5px;
    width: 20vw;
    height: 5vh;
    color: white;
    border: 3px solid rgb(33, 32, 32);
    margin-top: 1vh;
    margin-left: 2vw;
}

.startbtn:hover{
    background-color: brown;
}

.startdiv{
    display: flex;
    flex-direction: column;
    margin-left: 38vw;
}

.nickname{
    width: 12vw;
    margin-top: 1vh;
    height: 5vh;
    border-radius: 10px;
    font-size: 18px;
    text-align: center;
    margin-left: 5.9vw;
}
